# Delphi - ignorar bin rios e tempor rios
*.dcu
*.exe
*.dll
*.bpl
*.dcp
*.so
*.apk
*.aab
*.zip
*.drc
*.map
*.dres
*.rsm
*.tds
*.~*
*.identcache
*.local
*.dproj.local
*.dsk
*.stat
Win32/
Win64/
OSX32/
OSX64/
iOSDevice32/
iOSDevice64/
iOSSimulator/
Android/
__history/
__recovery/
Release/
